@import 'site-variables';

.top-bar {
  position: relative;
  height: $topbar-height;
  background: $color-dark;
  @include outer-container;
}

//
// Left Side
//

.top-bar-wrapper {
  width: 100%;
  height: $topbar-height;
  background: $color-dark;
}

.title-area {
  padding: 0;
  @include span-columns(4);
}

.name:hover {
  #menu_name {
    color: $color-blue;
  }

  #menu_head {
    border-color: $color-blue;
  }
}

#menu_name {
  font-family: 'Courgette', $primary-font-family;
  font-size: $topbar-title-font-size;
  font-weight: normal;
  color: #FFF;
  margin: 0;
  width: 250px;
  padding: 13px 10px 0 0;
  line-height: 1;
  transition: .2s all;
  display: inline-block;

  @include media($mobile) {
    position: absolute;
    right: 10px;
    visibility: visible;
  }

  @include media($mid) {
    visibility: hidden;
  }

  @include media($mid-up) {
    margin: 0 0 0 75px;
  }
}

#menu_head {
  width: 65px;
  height: 65px;
  margin: 5px 0 0 0;
  border-radius: 999px;
  border: 3px solid #000;
  transition: .1s all;
  position: absolute;

  @include media($mobile) {
    display: none;
  }
}

@media only screen and (max-width: 509px) {
  .top-bar .toggle-sidebar {
    position: absolute;
    top: 0;

    .toggle-link {
      display: block;
      width: $topbar-height;
      height: $topbar-height;
      line-height: $topbar-height;
      padding: 0;
      color: #FFF;
      background: rgba(0, 0, 0, .7);
    }
  }

  .toggle-sidebar-icon {
    position: absolute;
    top: $topbar-height / 2 - 8px;
    left: $topbar-height / 2 - 8px;
    display: block;
    width: em(16);
    height: 0;
    box-shadow: 0 0 0 1px #FFF, 0 6px 0 1px #FFF, 0 12px 0 1px #FFF;
  }
}

//
// Menu (custom built for http://danieljost.com)
//
.menu-right {
  @include span-columns(8);

  @include media($mobile) {
    display: none;
  }
}

.daniel_menu {
  width: auto;
  height: $topbar-height;
  overflow: hidden;
  float: right;

  .dmenu_li {
    list-style-type: none;
    overflow: hidden;
    display: inline;
    float: left;
  }

  .dmenu_link {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    font-size: $topbar-link-font-size;
    line-height: $topbar-height;
    height: $topbar-height;
    width: 100%;
    overflow: hidden;
    padding: 0 15px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: #FFF 0 100px;

    // Color scheme
    color: #FFF;
    background: none;

    // Transitions
    transition: all .35s;

    // Pulls the text up using margins while increasing the height
    &:hover {
      text-shadow: #FFF 0 $topbar-height;
      margin-top: -$topbar-height;
      height: $topbar-height * 2;
      background: $color-blue;
      text-decoration: none;
    }
  }
}
