          </div> <!-- /main-container -->
          <div class="footer-wrapper">
            <footer class="footer-container">
              <div class="footer_left">
                <h4 class="footer_copyright">&#169; {{ site.time | date: "%Y" }} Daniel Jost</h6>
                <h4 class="footer_email">danieljost [at] mail.rit.edu</h6>
              </div>
      
              <ul class="footer_links">
                <li><a class="ss-icon ss-facebook" href="http://www.facebook.com/DanielPJost"></a></li>
                <li><a class="ss-icon ss-twitter" href="http://twitter.com/_DanielJost_"></a></li>
                <li><a class="ss-icon ss-linkedin" href="http://www.linkedin.com/pub/daniel-jost/3b/294/9b8"></a></li>
                <li><a class="ss-icon ss-octocat" href="https://github.com/PxlBuzzard"></a></li>
              </ul>
            </footer>
          </div>
        </div> <!-- /st-content-inner -->
      </div> <!-- /st-content -->
    </div> <!-- /st-pusher -->
  </div> <!-- /st-container -->
  
  <!-- build:js /js/app.js -->
  <script src="/js/classie.js"></script>
  <script src="/js/sidebarEffects.js"></script>
  <script src="/fonts/ss-social.js"></script>
  <!-- endbuild -->
</body>
</html>
