@import 'neat/neat-helpers';
@import 'helpers';

//colors
$color-black-half: rgba(0, 0, 0, .5);
$color-dark: #111;
$color-header-blue: #132e4b;
$color-red: #c0392b;
$color-white: #ecf0f1;
$color-blue: #3498db;
$color-silver: #bdc3c7;

//fonts
$primary-font-family: "Roboto", "Lato", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

//grid
$column: 70px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 1080px;

//breakpoints
$mobile: new-breakpoint(max-width 509px 4);
$mid: new-breakpoint(min-width 510px max-width 675px 8);
$mid-up: new-breakpoint(min-width 675px 12);
$tablet: new-breakpoint(max-width 768px 8);
$tablet-up: new-breakpoint(min-width 769px 12);
$max: new-breakpoint(min-width $max-width 12);

//topbar
$topbar-height: 75px;
$topbar-title-weight: normal;
$topbar-title-font-size: rem(48);
$topbar-link-font-size: rem(16);

$topbar-bg: $color-black-half;
$topbar-link-color: rgba(255, 255, 255, .8);
$topbar-link-color-hover: #fff;
$topbar-link-bg-hover: $color-blue;
$topbar-dropdown-bg: rgba(0, 0, 0, 0);

//variables for Bourbon/Neat
$border-box-sizing: false;

// late imports
@import 'bourbon/bourbon';
@import 'neat/neat';